{% extends "emma/base.html" %}
{% block content %}
<div class="container-lg">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Device Name</th>
            <th scope="col">Device Serial Number</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Status</th>

        </tr>
        </thead>
        <tbody>
            {% if devices %}
                {% for device in devices %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ device.name }}</td>
                        <td>{{ device.hardwareInfo.serialNumber }}</td>
                        <td>{{ device.hardwareInfo.brand }}</td>
                        <td>@{{ device.hardwareInfo.model }}</td>
                        <td>{{ device.state }}</td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type='hidden' id="device_name" value='{{ device.name }}' name='device_name'>
                        <td>
                                <button type="submit" class="btn btn-primary" name="lock_device" value="{{ device_name }}">Lock screen</button>
                        </td>
                        <td>
                                <button type="submit" class="btn btn-danger" name="delete_device" value="{{ device_name }}">Remove from enrollment</button>
                        </td>
                        </form>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
