{% extends "emma/base.html" %}
{% block content %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Device Name</th>
            <th scope="col">Device Serial Number</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Status</th>
            <th scope="col">Enrollment Time</th>

        </tr>
        </thead>
        <tbody>
            {% if devices %}
                {% for device in devices %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ device.name }}</td>
                        <td>{{ device.hardwareInfo.serialNumber }}</td>
                        <td>{{ device.hardwareInfo.brand }}</td>
                        <td>@{{ device.hardwareInfo.model }}</td>
                        <td>{{ device.state }}</td>
                        <td>{{ device.enrollmentTime}}</td>
                        <td>
                            <form method="POST">
                                {% csrf_token %}
                                <input type='hidden' id="device_name" value='{{ device.name }}' name='device_name'>
                                <button type="submit" class="btn btn-danger" name="delete_device" value="{{ device_name }}">Remove</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

{% endblock %}