{% extends "emma/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1>Enterprise</h1>
        <p>Create an enterprise and enroll a device.</p>

        <br>

        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="create_enterprise">Create enterprise</button>
        </form>

        <br>

        {% if url %}
            <p>Follow this <a href="{{ url }}" target="_blank">link</a> to create an enterprise. Then copy the enrolment token and paste it below.</p>

                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Enterprise Token" aria-label="Enterprise Token" aria-describedby="submit_enterprise_token" name="enterprise_token" id="enterprise_token">
                    <button class="btn btn-primary" type="submit" name="enter_token" id="submit_enterprise_token">Enter Token</button>
                </form>
        {% elif enterprise_name %}
            <p>
               Your enterprise name is: {{ enterprise_name }}
            </p>
        {% endif %}
    </div>
</div>

{% endblock %}
