{% extends "emma/base.html" %}
{% load static %}

{% block content %}

<ol>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1>Policies</h1>
    
        <form action="" method="post">
            {% csrf_token %}
            <li>Give your policy a name</li>
            <div class="input-group mb-3">
                {% if enterprise_name %}
                    <span class="input-group-text">{{ enterprise_name }}/policies/</span>
                {% else %}
                    <span class="input-group-text">Create an enterprise!</span>
                {% endif %}
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="marketingPolicy1" name="policy_name">
            </div>
            <br>
         
            <li>Pick your policy options</li>
            
    </div>
</div>


    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="bluetoothDisabled" id="bluetoothDisabled" name="policy_options">
                <span>
                    Disable Bluetooth
                    <small class="d-block text-muted">bluetoothDisabled</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="wifiConfigDisabled" id="wifiConfigDisabled" name="policy_options">
                <span>
                    Disable Wifi Config
                    <small class="d-block text-muted">wifiConfigDisabled</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="smsDisabled" id="smsDisabled" name="policy_options">
                <span>
                    Disable SMS
                    <small class="d-block text-muted">smsDisabled</small>
                </span>
            </label>
        </div>
    
        <div class="list-group mx-0">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="addUserDisabled" id="addUserDisabled" name="policy_options">
                <span>
                    Disable User Adding
                    <small class="d-block text-muted">addUserDisabled</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="outgoingCallsDisabled" id="outgoingCallsDisabled" name="policy_options">
                <span>
                    Disable Outgoing Calls
                    <small class="d-block text-muted">outgoingCallsDisabled</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="dataRoamingDisabled" id="dataRoamingDisabled" name="policy_options">
                <span>
                    Disable Roaming Data
                    <small class="d-block text-muted">dataRoamingDisabled</small>
                </span>
            </label>
        </div>
    
        <div class="list-group mx-0">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="usbFileTransferDisabled" id="usbFileTransferDisabled" name="policy_options">
                <span>
                    Disable USB File Transfer
                    <small class="d-block text-muted">usbFileTransferDisabled</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="shareLocationDisabled" id="shareLocationDisabled" name="policy_options">
                <span>
                    Disable Location Sharing
                    <small class="d-block text-muted">shareLocationDisabled</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="setWallpaperDisabled" id="setWallpaperDisabled" name="policy_options">
                <span>
                    Disable Wallpaper Setting
                    <small class="d-block text-muted">setWallpaperDisabled</small>
                </span>
            </label>
        </div>
        
    </div>
    
    
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
            <li>Create a policy. This policy is needed for enrollment.</li>
            <button type="submit" class="btn btn-primary" name="create_policy">Create Policy</button>
        </div>
    </div>
    
</form>


<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
                <br>
                {% if policy_name %}
                    <input type='hidden' value='{{policy_name}}' name='policy_name'>
                    <br>
                    <div class="alert alert-success" role="alert">
                        Policy created succesfully.
                        Policy name is: <h3>{{ policy_name }}</h3>
                        {% if policy_options %}
                            Selected options: <h3>{{ policy_options }}</h3>
                        {% endif %}
                    </div>
                {% endif %}
                <br>
                <br>
            <li>Create a QR code to enroll a device.</li>
                <form action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="enroll_device">Create QR Code</button>
                </form>

                <br>
                <br>
                <br>
                <br>
            
            <li>Scan the QR code.</li>
                {% if qrcode_url %}
                    <img src="{{ qrcode_url }}" alt="..." class="img-thumbnail">
                    <br>
                    <a href="{{ qrcode_url }}" target="_blank">Follow this link to open QR code in new tab.</a>
                {% endif %}
        </ol>

    </div>
</div>



{% endblock %}
